:root {
  --color-principal: #F59E0B;
  --color-texto: #000000;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b82222;
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: var(--color-principal);
  padding: 1rem 0;
}

.color_label
{
  color: black!important;
}

.logo-container img {
  height: 50px;
  margin-right: 15px;
}

.brand-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.slogan {
  font-size: 1rem;
  color: white;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* Imagen principal */
.en-construccion img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

/* Pie de página */
footer {
  background-color: #212529;
  color: white;
  padding: 2rem 0;
  font-size: 0.95rem;
}

/* Responsive para móviles */
@media (max-width: 576px) {
  .brand-text {
    font-size: 1.2rem;
  }
  .logo-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-container img {
    margin-bottom: 10px;
  }
}
